@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 10.9677% 30.3922%;
    --card: 0 0% 100%;
    --card-foreground: 0 10.9677% 30.3922%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 10.9677% 30.3922%;
    --primary: 15.9494 64.2276% 48.2353%;
    --primary-foreground: 0 0% 100%;
    --secondary: 31.9780 89.2157% 60%;
    --secondary-foreground: 0 0% 100%;
    --muted: 15.0000 100.0000% 96.0784%;
    --muted-foreground: 0 6.8627% 40%;
    --accent: 15 74.4186% 83.1373%;
    --accent-foreground: 0 10.9677% 30.3922%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 13.7255% 90.0000%;
    --input: 0 20.0000% 97.0588%;
    --ring: 0 5.8824% 50%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}